################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/x64/Debug/net10.0-windows10.0.26100.0
/publish
/bin

# Private signing assets
*.pfx
*.snk
src/LinkScape/LinkScape.Signing.props

# history cleanup
LinkScape_TemporaryKey.pfx
src/LinkScape/LinkScape_TemporaryKey.pfx
/src/LinkScape/AppPackages
**/bin/
**/obj/