################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/obj/
**/bin/
**/publish/

# Private signing assets
*.pfx
*.snk
src/LinkScape/LinkScape.Signing.props

LinkScape_TemporaryKey.pfx
src/LinkScape/LinkScape_TemporaryKey.pfx
/src/LinkScape/AppPackages
